
body{
    font-size: 16px;
		
		background-image: url("../../Resource/img/1.jpg")
}
.me{
	float:left;
}
h2 {
    
    text-align: center;color:;
	background-color:#e4edfe;width: 80%;
}
#sub_by{
    
}
h3{
    color:;
	background-color: #e4edfe;width: 150%;text-align: left;padding-left:5px
}
p{
    color:#1E1762;font-size:16px;
	background-color: #e4edfe;width: 150%;
	text-align: left;padding-left:5px
}
#pagi{
    float:right
}
#utility{
    float:right;
    
}
nav{
    list-style:none;text-align: center;color:#0E074E
}
nav li a:hover{
    text-decoration:none;
    color:#F37420    
} 
#bb{
	background-color: #e4edfe;
}
.bb{
	background-color:#e4edfe;
}
.table {
  width: 70%;
}
#aa{
	width: 60%; 
}
